<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2013, microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<manifest package="org.microg.nlp.api"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="org.microg.nlp.API_VERSION"
            android:value="@string/nlp_api_version"/>
        <activity
            android:name=".MPermissionHelperActivity"
            android:exported="true"
            android:theme="@style/HiddenActivity"/>
    </application>
</manifest>
