<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2013-2017 microG Project Team
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest package="org.microg.nlp"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="org.microg.permission.FORCE_COARSE_LOCATION"
        android:description="@string/perm_force_coarse_location_desc"
        android:label="@string/perm_force_coarse_location_label"
        android:permissionGroup="android.permission-group.LOCATION"
        android:protectionLevel="dangerous"/>

    <uses-permission
        android:name="android.permission.INSTALL_LOCATION_PROVIDER"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="org.microg.permission.FORCE_COARSE_LOCATION"/>

    <uses-permission android:name="com.android.settings.INJECT_SETTINGS"/>

    <application>
        <uses-library android:name="com.android.location.provider"/>

        <!-- Gingerbread / Ice Cream Sandwich -->
        <service
            android:name="org.microg.nlp.location.LocationServiceV1"
            android:exported="true"
            android:permission="android.permission.ACCESS_COARSE_LOCATION">
            <intent-filter>
                <action android:name="com.android.location.service.NetworkLocationProvider"/>
                <action android:name="com.google.android.location.NetworkLocationProvider"/>
            </intent-filter>

            <meta-data
                android:name="serviceVersion"
                android:value="1"/>
            <meta-data
                android:name="version"
                android:value="1"/>
        </service>

        <!-- Jelly Bean / KitKat -->
        <service
            android:name="org.microg.nlp.location.LocationServiceV2"
            android:exported="true"
            android:permission="android.permission.ACCESS_COARSE_LOCATION">
            <intent-filter>
                <!-- KitKat changed the action name but nothing else, hence we handle it the same -->
                <action android:name="com.android.location.service.v3.NetworkLocationProvider"/>
                <action android:name="com.android.location.service.v2.NetworkLocationProvider"/>
            </intent-filter>

            <meta-data
                android:name="serviceVersion"
                android:value="2"/>
            <meta-data
                android:name="serviceIsMultiuser"
                android:value="false"/>
        </service>

        <service
            android:name="org.microg.nlp.geocode.GeocodeServiceV1"
            android:exported="true">
            <intent-filter>
                <!-- Jelly Bean changed the action name but nothing else, hence we handle it the same -->
                <action android:name="com.android.location.service.GeocodeProvider"/>
                <action android:name="com.google.android.location.GeocodeProvider"/>
            </intent-filter>

            <meta-data
                android:name="serviceVersion"
                android:value="2"/>
            <meta-data
                android:name="serviceIsMultiuser"
                android:value="false"/>
        </service>

        <service android:name=".ui.SettingInjectorService">
            <intent-filter>
                <action android:name="android.location.SettingInjectorService"/>
            </intent-filter>
            <meta-data
                android:name="android.location.SettingInjectorService"
                android:resource="@xml/nlp_injected_setting"/>
        </service>

        <activity
            android:name=".ui.SettingsActivity"
            android:icon="@mipmap/ic_nlp_settings"
            android:label="@string/nlp_settings_label"
            android:theme="@style/Theme.AppCompat.Settings"/>

        <receiver android:name="org.microg.nlp.PackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_UPGRADED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
